<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742523233824-9sn3fk8dano9gciqd859j3c6ua1pkuvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742523233824-9sn3fk8dano9gciqd859j3c6ua1pkuvh</string>
	<key>API_KEY</key>
	<string>AIzaSyDeDneAfKvSDEOMmTV55ICQHBKK8HylHIw</string>
	<key>GCM_SENDER_ID</key>
	<string>742523233824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>igormiranda.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-8341f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-8341f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742523233824:ios:11e8093476e7aa40c3fe45</string>
</dict>
</plist>